[submodule "MyPage"]
	path = MyPage
	url = git@github.com:a595859893/MyPage.git
	branch = master
[submodule "SimpleChatBot"]
	path = SimpleChatBot
	url = git@github.com:a595859893/SimpleChatBot.git
	branch = master
[submodule "CardRoller"]
	path = CardRoller
	url = git@github.com:a595859893/CardRoller.git
	branch = master
